/* i.icon {
  font-size: 2em;
} */

.blue{
  color: blue;
}

.container.main{
  margin-top: 7.0em;
}

/* #back{
  text-align:center;
} */
.BlogPost{
  padding-left: 15px;
}

.index-title{
  text-align: center;
}

#delete{
  display: inline;
}
